/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* Common Styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Nav Styles */
nav div{
    /* margin-left: 10%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
}
.brand-name{
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
}
/* @media only screen and (max-width:992px) {
    nav div{
        margin: 0 auto;
    } */
    /* .brand-name{
        text-align: center;
    }
} */

/* Header Styles */
header .container{
    /* margin: 3% 10%; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
}
/* header .header-info{
    margin-top: 50px;
} */
header .header-title{
    font-size: 52px;
    margin-bottom: 0px;
}
header .header-info p{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 27px;
}
header .header-button{
    background-color: #E02C6D;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 130px;
    border-radius: 41px;
    padding: 10px 24px;
    color: #FFFFFF;  
}
header .header-button a{
    text-decoration: none;
    color: #FFFFFF;
}
header .header-button .fa-arrow-right{
    margin-left: 8px;
}
/* header .header-image{
    width: 100%;
} */

header .header-image img{
    width: 100%;
}



/* Product Styles */
.container-product{
    margin: 7% 15%;

}
.product-heading{
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 28px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
    grid-row-gap: 35px;
}
.products .product-image img{
    width: 330px;
    border-radius: 7px;
}
.products .product-information{
    width: 350px;
    padding-left: 20px;
}
.product-details{
    line-height: 20px;
}
.product-details h2{
    font-weight: 500;
    font-size: 28px;
}
.product-details p{
    font-size: 24px;
    font-weight: 500;
}
.fa-star{
    color: #FFC014;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background: #FFFFFF;
    padding: 14px 0px;
    width: 350px;
}
.products .product-icon{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: 0;
}
.products .product-icon span{
    padding-left: 7px;
    font-weight: 600;
}
.products .product-text{
    line-height: 5px;
    font-weight: 600;
}

/* Mobile media query */
@media only screen and (max-width:688px) {
    .container{
        /* width: 100%; */
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }
    header .header-info{
        margin-top: 20px;
    }
    header .header-button{
        justify-content: center;
    }
    header .header-image{
        margin-top: 30px;
    }
    header .header-image img{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
@media only screen and (min-width: 689px) and (max-width:992px) {
    header .container{
        width: 100%;
        margin: 0;
    }
    header .header-image img{
        width: 80%;
    }
    .products{
        grid-template-columns: repeat(2,1fr);
    }
    header .header-title{
        font-size: 40px;
        margin-bottom: 0px;
    }
    .header-info{
        padding-left: 3rem;
    }
    .container-product{
        margin: 0;
    
    }
}
